@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Limelight&family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Artifika&family=Limelight&family=Oxygen:wght@300;400;700&display=swap");

@layer base {
	h1 {
		font-size: var(--text-2xl);
	}
	h2 {
		font-size: var(--text-xl);
	}
	h3 {
		font-size: var(--text-lg);
	}
	h4 {
		font-size: var(--text-base);
	}
	h5 {
		font-size: var(--text-sm);
	}
	h6 {
		font-size: var(--text-xs);
	}
	a {
		color: var(--color-blue-600);
		text-decoration-line: underline;
	}

	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9216%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9216%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9216%;
		--primary: 102 86.9565% 18.0392%;
		--primary-foreground: 0 0% 100%;
		--secondary: 40 25.9259% 84.1176%;
		--secondary-foreground: 103.75 85.7143% 10.9804%;
		--muted: 0 0% 96.0784%;
		--muted-foreground: 0 0% 44.3137%;
		--accent: 100 30.0000% 96.0784%;
		--accent-foreground: 0 0% 9.0196%;
		--destructive: 357.1429 100% 45.2941%;
		--destructive-foreground: 0 0% 96.0784%;
		--border: 0 0% 89.8039%;
		--input: 0 0% 89.8039%;
		--ring: 150 4.0404% 61.1765%;

		--chart-1: 103.0769 82.9787% 18.4314%;
		--chart-2: 52.0661 71.5976% 33.1373%;
		--chart-3: 103.8889 64.2857% 32.9412%;
		--chart-4: 162.8571 52.2388% 86.8627%;
		--chart-5: 127.0588 7.7626% 57.0588%;

		--font-sans: Libre Baskerville, serif;
		--font-serif: Artifika, ui-serif, serif;
		--font-mono: Limelight, ui-serif, serif;

		--radius: 0.2rem;

		--shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
		--shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
		--shadow-sm: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
		--shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
		--shadow-md: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
		--shadow-lg: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
		--shadow-xl: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
		--shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0);

		--tracking-normal: 0em;
		--spacing: 0.25rem;
	}

	.dark {
		--background: 0 0% 0%;
		--foreground: 0 0% 98.0392%;
		--card: 0 0% 7.8431%;
		--card-foreground: 0 0% 98.0392%;
		--popover: 0 0% 14.9020%;
		--popover-foreground: 0 0% 98.0392%;
		--primary: 106.6667 93.1034% 17.0588%;
		--primary-foreground: 0 0% 98.0392%;
		--secondary: 0 0% 14.9020%;
		--secondary-foreground: 0 0% 98.0392%;
		--muted: 0 0% 14.9020%;
		--muted-foreground: 0 0% 63.1373%;
		--accent: 103.3333 90.0000% 3.9216%;
		--accent-foreground: 0 0% 98.0392%;
		--destructive: 358.8387 100% 69.6078%;
		--destructive-foreground: 0 0% 14.9020%;
		--border: 0 0% 21.9608%;
		--input: 0 0% 32.1569%;
		--ring: 0 0% 45.0980%;

		--chart-1: 102.0619 90.6542% 20.9804%;
		--chart-2: 51.8919 88.0952% 32.9412%;
		--chart-3: 115.8621 88.9571% 31.9608%;
		--chart-4: 0 0% 45.0980%;
		--chart-5: 0 0% 45.0980%;

		--font-sans: Libre Baskerville, serif;
		--font-serif: Artifika, ui-serif, serif;
		--font-mono: Limelight, ui-serif, serif;

		--radius: 0.2rem;

		--shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
		--shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
		--shadow-sm: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
		--shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
		--shadow-md: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
		--shadow-lg: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
		--shadow-xl: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
		--shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0);
	}
}

/*
Edited using:
https://tweakcn.com/editor/theme
*/
